.page {
    margin: 20px;
}

.interactions {
    text-align: center;
}

.table {
    margin: 20px 0;
}

.table-header {
    display: flex;
    line-height: 24px;
    font-size: 16px;
    padding: 0 10px;
    justify-content: space-between;
}

.table-empty {
    margin: 200px;
    text-align: center;
    font-size: 16px;
}

.table-row {
    display: flex;
    line-height: 24px;
    white-space: nowrap;
    margin: 10px 0;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #e3e3e3;
}

.table-header>span {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.table-row>span {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.button-inline {
    border-width: 0;
    background: transparent;
    color: inherit;
    text-align: inherit;
    -webkit-font-smoothing: inherit;
    padding: 0;
    font-size: inherit;
    cursor: pointer;
}

.button-active {
    border-radius: 0;
    border-bottom: 1px solid #38BB6C;
}

@keyframes loader {
    50% {
        filter: blur(5px);
        transform: translateY(-10px);
        opacity: 0.3;
    }
}

.loader {
    width: 100px;
    height: 15px;
    margin: 7px auto 0 auto;

}

.loader>div {
    height: 15px;
    width: 15px;
    background-color: #101010;
    float: left;
    margin: 0 5px 0 0;
    animation: loader 0.7s infinite;
    opacity: 0.5;
    border-radius: 10%;
}

.loader>div:nth-child(1) {
    animation-delay: 0.1s;
}

.loader>div:nth-child(2) {
    animation-delay: 0.2s;
}

.loader>div:nth-child(3) {
    animation-delay: 0.3s;
}

.loader>div:nth-child(4) {
    animation-delay: 0.4s;
}

.loader>div:nth-child(5) {
    animation-delay: 0.5s;
}